/*--------------------------------------*/
/*------ Author: Dawid Matras ----------*/
/*------ Date: 03.10.2022 --------------*/
/*------- HTML & CSS Practice ----------*/
/*--------------------------------------*/
/****************************************/
/****************************************/
/****************************************/
/*--------------Variables---------------*/
:root {
  --color-primary: #185cff;
  --color-secondary: #002b4e;
  --color-tetiary: #f0f9ff;
  --color-helper-blue-1: #194060;
  --color-helper-blue-2: #607d94;
  --color-helper-blue-3: #c9dcec;
  --color-black: #292d33;
  --color-grey: #9497a1;
  --color-background: #f1f6fa;
  --color-red: #c14040;
  --color-white: #ffffff;
}
body {
  font-family: "Manrope", sans-serif;
}
main {
  max-width: 1920px;
}
/*-----------------------------------*/
/*--------------HEADER---------------*/
.header {
  height: 406px;
  position: relative;
}
.header__nav {
  max-width: 1110px;
  max-height: 126px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 40px 0;
  flex-wrap: wrap;
}
.header__nav__menu {
  display: flex;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
}
.header__nav__link {
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  color: var(--color-grey);
  font-weight: 500;
  letter-spacing: -0.01em;
}
.header__nav__link:hover {
  font-weight: 600;
  color: var(--color-black);
}
.header__jumbotron {
  max-width: 1110px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  flex-wrap: wrap;
}
.header__jumbotron__headline {
  color: var(--color-black);
  max-width: 540px;
  max-height: 120px;
  font-weight: 800;
  font-size: 46px;
  line-height: 60px;
  letter-spacing: -0.015em;
  align-items: center;
  padding: 70px 0 90px;
  margin: 0;
}
.header__jumbotron__headline span {
  color: var(--color-primary);
}
.header__jumbotron__paragraph {
  max-width: 350px;
  max-height: 112px;
  font-weight: 400;
  line-height: 28px;
  color: var(--color-grey);
  font-size: 16px;
  letter-spacing: -0.015em;
  padding: 76px 0;
  margin: 0;
}
/*-----------------------------------*/
/*------------BUTTON----------------*/
button {
  display: flex;
  justify-content: center;
  padding: 10px 14px;
  gap: 10px;
  align-items: center;
  width: 168px;
  height: 44px;
  border: 1px solid var(--color-background);
  border-radius: 6px;
  font-family: "Manrope", sans-serif;
}
.button--primary {
  background-color: var(--color-primary);
  color: var(--color-background);
}
/*-----------------------------------*/
/*-----------Section-1---------------*/
.section-one {
  height: 590px;
  background-color: #9497a1;
  background-image: url(/images/img_11.png);
  background-size: contain;
  background-repeat: no-repeat;
}
.button_outer {
  width: 140px;
  height: 140px;
  background-color: var(--color-white);
  border: 1px solid var(--color-white);
  border-radius: 70px;
  position: absolute;
  margin-top: -70px;
  right: 29.95%;
  padding: 10px;
}
.button_middle {
  width: 120px;
  height: 120px;
  border: 1px solid var(--color-background);
  border-radius: 60px;
  background-color: var(--color-primary);
  position: absolute;
  margin-top: -60px;
  right: 30.5%;
}
.button_inner {
  width: 104px;
  height: 104px;
  border: 1px solid var(--color-helper-blue-3);
  border-radius: 52px;
  background-color: var(--color-primary);
  margin-top: -52px;
  right: 30.95%;
  position: absolute;
  color: var(--color-background);
}
/*-----------------------------------*/
/*-----------Section-2---------------*/
.section-two {
  max-width: 1110px;
  height: 464px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  gap: 30px;
}
.section-2__text {
  flex: 1 1 100px;
}
.section-2__post {
  flex: 1 1 100px;
}
.section-2__headline {
  max-width: 540px;
  max-height: 197px;
  font-weight: 800;
  font-size: 57px;
  line-height: 66px;
  letter-spacing: -0.015em;
  margin-top: 120px;
  margin-bottom: 147px;
}
.section-2__headline span {
  color: var(--color-primary);
}
.section-two__paragraph {
  max-width: 540px;
  max-height: 132px;
  font-weight: 400;
  font-size: 20px;
  line-height: 33px;
  letter-spacing: -0.015em;
  color: var(--color-grey);
  margin-top: 128px;
  margin-bottom: 45px;
}
.section-2__button {
  margin-bottom: 120px;
}
